img {
    width: 100vw;
    position: relative;
}

#info-image {
    position: absolute;
}

#info-box{
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    background-color: hsla(0, 0%, 0%, 0.6);
    color:white;
}

#info {
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 0 15% 0 15%;
    text-align: justify;
}

strong {
    font-size: 50px;
}

p {
    font-size: 20px;
}