img {
    width: 100vw;
}

#info-image {
    position: relative;
}

#info-box{
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    background-color: hsla(0, 0%, 0%, 0.6);
    color:white;
}

#info {
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 0 15% 0 15%;
    text-align: justify;
}

strong {
    font-size: 50px;
}

p {
    font-size: 20px;
}

/* Estilo general para contenedor */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

.slider-box {
    position: relative;
    width: 100vw;
}

.slider-conteiner {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.slider-conteiner img {
    width: 10vw;
    height: auto;
    object-fit: contain;
}

